page-event-detail {
    ion-card-header { text-align: center; }
    .add-guest-form {
    button { margin-top: 20px; }
    }
    .profitable { color: rgb(25, 190, 50); }
    .no-profit { color: rgb(255, 0, 0); }
}
