<ion-header>
  <ion-navbar>
    <ion-title>
      Home
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only *ngIf="userProfile?.firstName" (click)="goToProfile()">
        <ion-icon name="person">Profile</ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-home">
  <h3 col-6 *ngIf="userProfile?.firstName || userProfile?.lastName;else guest">
    Welcome, {{userProfile?.firstName}} {{userProfile?.lastName}}!
  </h3>
  <ng-template #guest>
    <h3> Welcome guest!</h3>
  </ng-template>
  <button ion-button block color="primary" (click)="goToCreate()">
    Create a new Event
  </button>
  <button ion-button block color="primary" (click)="goToList()">
    See your events
  </button>


  <ion-label stacked>In which country are you going to travel ?</ion-label>
  <ion-searchbar [(ngModel)]="searchValue" (ionInput)="getCountries($event)"></ion-searchbar>
  <ion-list *ngIf="searchValue.length >= 1">
    <ion-item  *ngFor="let country of countryList">
      <h2> {{ country.name }} </h2>
      <h3> Code:
        <strong>{{ country.code }}</strong>
      </h3>
      <ion-item (click)="updateCountry(country.name)"> <h4>Lets travel!</h4></ion-item>
    </ion-item>
    <ion-item *ngIf="userProfile?.country">
      <h3>Your destination is {{userProfile?.country}}!</h3>
    </ion-item>
  </ion-list>

  <ion-label stacked>Top3 Destinations</ion-label>
  <ion-list>

  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col col6>
        <h3>Dest 1</h3>
      </ion-col>
      <ion-col col6>
        <h3>Dest 2</h3>
      </ion-col>
      <ion-col col6>
        <h3>Dest 3</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <button ion-button block (click)="logOut()">Logout</button>
</ion-content>