<ion-header>
  <ion-navbar color="primary">
    <ion-title>Signup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="page-signup">
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
    <ion-item>
      <ion-label stacked>First Name</ion-label>
      <ion-input formControlName="firstName" type="text" placeholder="Your first Name" [class.invalid]="!signupForm.controls.firstName.valid && signupForm.controls.firstName.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.firstName.valid && signupForm.controls.firstName.touched">
      <p>Your first name should be less than 15 characters.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Last Name</ion-label>
      <ion-input formControlName="lastName" type="text" placeholder="Your last Name" [class.invalid]="!signupForm.controls.lastName.valid && signupForm.controls.lastName.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.lastName.valid && signupForm.controls.lastName.touched">
      <p>Your last name should be less than 15 characters.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid && signupForm.controls.email.touched">
      <p>Please enter a valid email address.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input formControlName="password" type="password" placeholder="Your Password" [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.touched"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid && signupForm.controls.password.touched">
      <p>Password should be of or more than 6 characters.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked>Gender</ion-label>
      <ion-select formControlName="gender" placeholder="Your Gender">
        <ion-option value="Female">Female</ion-option>
        <ion-option value="Male">Male</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label stacked>Date of Birth</ion-label>
      <ion-datetime formControlName="DOB" displayFormat="MMM D, YYYY" pickerFormat="D MMM YYYY" placeholder="Your Date of Birth"></ion-datetime>
    </ion-item>


    <ion-item>
      <ion-label stacked>Destination</ion-label>
      <ion-input formControlName="country" type="country" placeholder="In which country are you going to travel soon?" [class.invalid]="!signupForm.controls.country.valid && signupForm.controls.country.touched"></ion-input>
    </ion-item>
    <button ion-button color="secondary" text-center type="submit" [disabled]="!signupForm.valid">Register</button>

  </form>

</ion-content>